{:app-name "automaton-web"
 :clean {:compile-logs-dirs [".cpcache" ".clj-kondo/.cache" "tmp"]}
 :doc {:archi {:dir "docs/archi/"}
       ;; :code-doc {:description "Autonomous project to build web app",
       ;;            :dir "docs/code", :title "Web technology for
       ;;            automaton"},
       :code-stats {:output-file "docs/code/stats.md"}
       :dir "docs"
       :reports {:forbidden-words #{"landing"}
                 :output-files {:alias "docs/code/alias.edn"
                                :comments "docs/code/comments.edn"
                                :css "docs/code/css.edn"
                                :deps "docs/code/deps.png"
                                :deps-ns "docs/code/deps-ns.svg"
                                :forbidden-words "docs/code/forbidden-words.edn"
                                :ns "docs/code/ns.png"}}}
 :la {}
 :lconnect {:aliases [:common-test :env-development-repl]}
 :ltest {:aliases [:env-development-test :common-test]}
 :monorepo {:app-dir "automaton/automaton_web"}
 :publication {:as-lib hephaistox/automaton-web
               :gha-container {:account "hephaistox"
                               :repo-branch "main"
                               :repo-url "git@github.com:hephaistox/gha_image.git"
                               :workflows [".github/workflows/commit_validation.yml"]}
               :jar {:class-dir "target/classes"
                     :excluded-aliases #{}
                     :target-filename "target/%s-%s.jar"}
               :major-version "0.0.%d"
               :repo {:address "git@github.com:hephaistox/automaton-web.git"
                      :branch "main"}
               :shadow-cljs {:target-build nil}}}
