{:app-name "automaton-web"
 :task-shared {:gha {}
               :publication {:as-lib org.clojars.hephaistox/automaton-web
                             :deploy-to :clojars
                             :env {:la {}
                                   :production {}}
                             :frontend {:css {}
                                        :run-aliases [:automaton-web-portfolio :browser-test :ltest]}
                             :license {}
                             :repo
                             "git@github.com:hephaistox/automaton-web.git"}
               :repl-aliases [:common-test :env-development-repl :build]}
 :tasks {:clean {:dirs [".cpcache/"
                        ".clj-kondo/.cache/"
                        "tmp/"
                        "target/"
                        "node_modules/"
                        ".shadow-cljs/builds/"]}
         :lfe-test {}
         :lfe-css {}
         :lfe-watch {}
         :reports {:forbiddenwords-words #{"automaton-build" "landing" "tap>"}}}}
