{:app-name "automaton-optimization"
 :code {:forbidden-words #{"DONE" "FIXME" "NOTE" "TODO" "automaton-build" "landing" "tap>"}}
 :frontend {:run-aliases [:ltest :browser-test]}
 :publication {:as-lib org.clojars.hephaistox/automaton-optimization
               :base-branch "main"
               :excluded-aliases
               [:antq :codox :env-development-repl :env-development-test :common-test]
               :pom-xml-license {:name "CC BY-NC 4.0"
                                 :url "https://creativecommons.org/licenses/by-nc/4.0/deed.en"}
               :repo-url "git@github.com:hephaistox/automaton-web.git"}}
