{:builds
 {:browser-test {:ns-regexp "-test$"
                 :runner-ns shadow.test.browser
                 :target :browser-test
                 :test-dir "target/browser-test"}
  :devcards {:target :browser-test ; using :browser-test to pickup all
                                   ; files that match `-test$`
             :ns-regexp "-cards$" ; default option for :browser-test is
                                  ; -test$
             :test-dir "target/devcards"
             :runner-ns automaton-web.devcards.core
             :compiler-options {:devcards true}
             :js-options {:resolve {"devcards-marked" {:require "marked"
                                                       :target :npm}
                                    "devcards-syntax-highlighter" {:require "highlight.js"
                                                                   :target :npm}}}}
  :ltest {:ns-regexp "-test$"
          :output-to "target/ltest.js"
          :target :karma}}
 :deps {:aliases [:cljs-deps]}
 :dev-http {8290 ["target/browser-test"]}
 :jvm-opts ["-Xmx1G" "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"]
 :nrepl {:middleware [cider.nrepl/cider-middleware cider.piggieback/wrap-cljs-repl]
         :port 8776}}
