{:builds {:automaton-web-portfolio
          {:asset-path "js/compiled"
           :modules {:automaton-web-main
                     {:init-fn automaton-web.portfolio.portfolio/init}}
           :output-dir "resources/public/js/compiled"
           :target :browser}
          :browser-test {:ns-regexp "-test$"
                         :runner-ns shadow.test.browser
                         :target :browser-test
                         :test-dir "target/browser-test"}
          :ltest {:ns-regexp "-test$"
                  :output-to "target/ltest.js"
                  :target :karma}}
 :deps {:aliases [:cljs-deps]}
 :dev-http {8080 ["public" "classpath:public"]
            8290 ["target/browser-test"]}
 :nrepl {:middleware [cider.nrepl/cider-middleware
                      cider.piggieback/wrap-cljs-repl]
         :port 8776}}
