{:activities [{:descriptions
               ["Programmation"
                "conseil et   autres   activités   informatiques"
                "Conseil   enarchitecture  logicielles"
                "Conseil  en  supply  chain,  logistique  et  industrie"
                "Formation"]
               :language "fr"}]
 :creation-date #inst "2021-11-15T00:00:00.000"
 :establishments [{:adress "5 RUE SAINT DOMINIQUE 63350 JOZE"
                   :name "joze"
                   :siret "905 156 402 00018"}]
 :insee "G 6353 207627 0"
 :naf-nace "6201Z"
 :name "CAUMOND SASU"
 :rcs {:date #inst "2021-11-15T00:00:00.000"
       :value "905 156 402 R.C.S. Clermont-Ferrand"}
 :siren "905 156 402"
 :social-capital 1000}
